<%= form_with(url: path_to_create, model: Comment) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Leave your comment here" %>
  </div>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>
