<h1>New User</h1>

<div class="content">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <h3>Providers</h3>
        <ul class="nav nav-list">
          <% if !user_signed_in? %>
            <li>Sign in by <%= link_to 'Vkontakte', omniauth_authorize_path(:user, :vkontakte) %></li>
            <li>Or by <%= link_to 'Facebook', omniauth_authorize_path(:user, :facebook) %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

</div>


<%= link_to 'Back', users_path %>
