<tr>
  <td><%= image_tag image_path(rating.user.image), class: 'avatar' %></td>
  <td><%= rating.user.first_name + ' ' + rating.user.last_name %></td>
  <td><%= user_likes(rating.user.id) %></td>
  <td><%= rating.user.photoposts.count %></td>
</tr>