<table class="rating">
  <tr class="table-header">
    <td class="table-avatar"></td>
    <td class="table-name">Name</td>
    <td class="table-rating-counter">User rating</td>
    <td class="table-photopost-counter">Photoposts uploaded</td>
  </tr>
  <%= render @rating %>
</table>