<div class="ban-form">
  <%= form_for @photopost do |f| %>
    <%= f.submit 'Approve', formaction: :approve, class: 'approve' if @photopost.banned? || @photopost.moderating? %>
    <br/>
    <br/>
    <% if @photopost.approved? || @photopost.moderating? %>
      <%= f.text_field :ban_reason, value: '' %>
      <%= f.submit 'Ban', formaction: :ban %>
    <% end %>
  <% end %>
</div>
