<%= image_tag image_path(user_achievement.achievement.medal), class: 'medal' %>
<b class="medal-name"><%= user_achievement.achievement.name %></b>
<span class="medal-reason">Выдана за пост №<%= link_to( user_achievement.photopost.id, photopost_path(user_achievement.photopost.id)) %> </span>