@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.col-content{
  width: 30%;
}
.status_tag{
  &.moderating{ background: darkorange }
  &.banned{ background: darkred }
  &.approved{ background: darkgreen }
  &.active{ background: darkgreen }
  &.passive{ background: darkcyan }
  &.reported{ background: darkorange }
}
a:link{
  text-decoration: none;
}
.reported-name{
  color: #730E15;
  font-size: 24px;
  letter-spacing: 0.3px;
}
.name-link{
  font-size: 14px;
}
.report-table{
  font-size: 15px;
  text-align: center;
}
.photopost-image{
  max-width: 300px;
  max-height: 150px;
}
.table-header>td{
  font-size: 12px;
  background-color: #B00100;
  color: white;
  border: 1px solid black;
}
.table-line{
  vertical-align: middle;
}
.header{
  font-size: 1.6em;
}
.ban-form{
  text-align: center;
  .content{
    margin: 0;
    font-size: 1.4em;
  }
}
.comments{
  .comments-header{
    font-size: 1.6em;
  }
  .comment{
    border-top: 1px solid darkgray;
    &:first-child{
      border: none;
    }
  }
}
.avatar{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.photopost-table{
  .post-row{
    td{
      text-align: center;
      font-size: 14px;
      border: 1px solid black;
    }
  }
}