@import "bootstrap-sprockets";
@import 'bootstrap';


/* universal */

body {
  z-index: 1;
  background-color: honeydew;
  padding-top: 50px;
}
ul{
  list-style: none;
}
/* header */
.navbar{
  background-color: #730E15;
  z-index: 10;
  .navbar-right{
    margin: 0 10px;
  }
  #logo{
    font-size: 1.7em;
    float: left;
    margin-left: 10px;
    color: lightyellow;
    text-shadow: 2px 2px 2px #aaa;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 10px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  .dropdown{
    .dropdown-menu{
      h5{
        margin: 2%;
        padding-left: 5%;
      }
      img{
        width: 20%;
        height: 20%;
        margin-left: 15%;
        margin-right: 10%;
        margin-bottom: 3%;
      }
    }
  }
}

/* content */

.container{
  .md-col-5{
    ul{
      padding-bottom: 1%;
      float: right;
      margin: 1px;
    }
  }
  tr {
    height: 500px;
    .content {
      height: 400px;
      .text-content{
        height: 15%;
      }
      .image-content{
        align-content: center;
      }
    }
    td{
      background-color: #d8fcff;
      border: 1px ridge #d1dcff;
      padding-left: 1%;
    }
    #photopost {
      .avatar {
        height: 10%;
        width: 10%;
        border-radius: 100px;
        border: 2px;
      }
      ul {
        bottom: 0;
        display: inline-table;
      }
      .icon-list {
        height: 100px;

        .like-button {
          background-color: rgba(255, 255, 255, 0);
          background-image: none;
          &:hover {
            background-color: rgba(255, 255, 255, 0);
          }
        }
        .icon {
          width: 5%;
          height: 5%;
        }
      }
    }
  }
}

/* footer */

footer{
  position: fixed;
  width: 100%;
  height: 4%;
  bottom: 0;
  color: white;
  background-color: #730E15;
  z-index: 10;
  #footer-logo{
    color: white;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
  }
  .right{
    float: right;
  }
}