@import "bootstrap-sprockets";
@import 'bootstrap';


/* universal */

body {
  z-index: 1;
  background-color: honeydew;
  padding-top: 50px;
  a{
    background: transparent;
    text-decoration: none;
    &:link{
      text-decoration: none;
    }
    &:hover{
      text-decoration: none;
    }
  }
}
ul{
  list-style: none;
}

.glyphicon-vk:before{
  content: url('../images/vk.svg');
}

.avatar {
  height: 10%;
  width: 10%;
  border-radius: 100px;
  border: 2px;
}
#photopost {
  ul {
    bottom: 0;
    display: inline-table;
  }
  .like-button {
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }
  .icon {
    width: 5%;
    height: 5%;
  }
}
/* header */
.navbar{
  background-color: #333;
  z-index: 10;
  .navbar-right{
    margin: 0 10px;
  }
  #logo{
    font-size: 1.7em;
    float: left;
    margin-left: 10px;
    color: lightyellow;
    text-shadow: 2px 2px 2px #aaa;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding-top: 10px;
  }
  .dropdown{
    .dropdown-menu{
      h5{
        margin: 2%;
        padding-left: 5%;
      }
      img{
        width: 20%;
        height: 20%;
        margin-left: 15%;
        margin-right: 10%;
        margin-bottom: 3%;
      }
    }
  }
}

/* content */
body>.container{
  margin-top: 2%;
  padding-bottom: 5%;
  overflow: auto;
  .vk-photos{
    .is-shown {
      overflow: auto;
      opacity: 1;
      visibility: visible;
    }
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
    .photo-selector{
      img{
       height: 20%;
      }
      padding: 2px;
    }
  }
  #photo{
    height: 120px;
  }
  .overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, .7);
    z-index: 10;
    transition: .3s all;
  }
  .vk-photos.is-shown,
  .overlay.is-shown{

    opacity: 1;
    visibility: visible;
  }
  .modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
  }
  .md-col-5{
    ul{
      padding-bottom: 1%;
      float: right;
      margin: 1px;
    }
    .main-page-table{
      table-layout: fixed;
      border-spacing: 5px;

      border-collapse: separate;
      tr {
        max-height: 500px;
        .content {
          height: 350px;
          .text-content{
            padding: 10px;
            height: 15%;
          }
          .image-content{
            text-align: center;
          }

        }
        .icon-list {
          padding: 0;
          margin-bottom: 4%;
          margin-left: 1%;
          .user-link{
            padding-bottom: 1.5%;
          }
        }
        td{
          border-radius: 30px;
          width: 33%;
          background-color: #d8fcff;
          padding-left: 1%;
        }
      }
    }
  }
  .col-md-8{
    table.uploads{
      border-spacing: 3px;
      border-collapse: separate;
      tr {
        height: 450px;
        .content {
          height: 343px;
          .text-content{
            font-size: 0.81em;
            height: 15%;
          }
          .image-content{
            align-content: center;
          }
        }
        .icon-list {
          margin-bottom: 0;
          padding-left: 0;
          height: 107px;
        }
        td{
          width: 32%;
          background-color: #d8fcff;
          padding-bottom: 0;
          padding-left: 1%;
        }
      }
    }
  }
  .post{
    width: 100%;
    text-align: center;
  }
  .comments{
    width: 100%;
    .avatar{
      height: 5%;
      width: 3%;
    }
  }
  .rating{
    margin: 2% 20%;
    width: 70%;
    .table-header{
      height: 5%;
      .table-avatar{
        width: 20%;
      }
      .table-name{
        width: 50%;
      }
      .table-rating-counter{
        width: 15%;
      }
      .table-photopost-counter{
        width: 15%;
      }
    }
  }
  .leaderboard{
    :first-child{
      font-size: 1.4em;
    }
    tr{
      &:hover{
        background: black;
        color: white;
      }
      background: #aaa;
      transition: background-color 0.6s linear;
    }
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    td{
      vertical-align: middle;

    }
    .avatar{
      border-radius: 0;
      img{
        border-radius: 45px;
        padding: 4px;
        height: 100px;
      }
    }
    .name{
      width: 60%;
    }
    .link{
      width: 5%;
    }
    .likes{
      width: 5%;
    }
  }
}

/* footer */

footer{
  position: fixed;
  width: 100%;
  height: 4%;
  bottom: 0;
  color: white;
  background-color: #333;
  z-index: 10;
  #footer-logo{
    color: white;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
  }
  .right{
    float: right;
  }
}