<footer class="footer">
  <div class="container">
    <small>
      2020 © All rights are reserved | <%= link_to 'Photo challenge', root_path, id: 'footer-logo' %>
    </small>
    <div class="navbar-right">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</footer>